<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/derekjyau">Derek</a>, a young, aspiring software engineer and web developer.
  </p>

  <br />

  <p>
    As of the June, 2018, Derek is a rising senior at Bowdoin College. He is a Computer Science major and an Economics minor, with a background studying Russian.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'splurty_headshot.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Derek Yau</h2>
      <br />
      <p>
        Derek Yau is a college student at Bowdoin College. He previously attended Phillips Academy, Andover.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
</div>